{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title_tag }} {% endblock %}


{% block content %}
<h1> {{post.title}} </h1>

<ul>
    <li>{{ post.author.first_name}}-{{ post.author.last_name}}</li>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <a href="{% url 'update_post' post.pk %}">Edit</a>--<a href="{% url 'delete_post' post.pk %}">Delete</a><br>
    {% endif %}
    {% endif %}

{% if post.images %}
    <img src="{{ post.images.url }}" alt="blog image" height="100" width="100">
{% endif %}
<div>{{ post.body|safe }}</div>
   

</ul>
{% if user.is_authenticated %}
    <form action="{% url 'blogpost_like' object.id %}" method="POST">
        {% csrf_token%}
        {% if post_is_liked %}
            <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-secondary">Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ object.id}}" class="btn btn-secondary">Like</button>
        {% endif %}        

    </form>
{% else %}
    <a class="btn btn-outline-secondary" href="{% url 'login' %}">Login to like this article</a><br/>
{% endif %} 
<strong >{{number_of_likes}} Like{{ number_of_likes|pluralize }}</strong><br><br>


<a href="{% url 'home' %}"><button type="button" class="btn btn-secondary">Home</button></a>

{% endblock %}