{% extends 'base.html' %}

{% block title %} {{ cats }} Category.. {% endblock %}

 {% block content %}
{% if category_post %} 
<h1>{{ cats }}</h1>

<ul>
    {% for post in category_post %}
       <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> {{post.category}}
           -{{ post.author }}  {{post.date_time.date}}</li>
           {{ post.body|slice:'200'|safe }}...
    {% endfor %}   
</ul>
{% else %}
   Sorry this page does not exist....
{% endif %}
      
 {% endblock %}

 