{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title_tag }} {% endblock %}


{% block content %}
<h1> {{post.title}} </h1>

<ul>
    <li>{{ post.author.first_name}}-{{ post.author.last_name}}</li>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <a href="{% url 'update_post' post.pk %}">Edit</a>--<a href="{% url 'delete_post' post.pk %}">Delete</a><br>
    {% endif %}
    {% endif %}

{% if post.images %}
    <img src="{{ post.images.url }}" alt="blog image" height="100" width="100">
{% endif %}
<div>{{ post.body|safe }}</div>

<br><br>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if post.author.profile.profile_image %}
            <img src="{{ post.author.profile.profile_image.url }}" alt="..." height="130" width="170">
        {% else %}
        <img src="{% static 'theblog/images/default_picture.png' %}" alt="..." height="130" width="170">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> <a href="{% url 'profile' post.author.profile.pk %}">{{ post.author.first_name}}-{{ post.author.last_name}}</a></h5>
          <p class="card-text"><small class="text-muted">
              {% if post.author.profile.facebook_url %}
                <a href="{{post.author.profile.facebook_url}}">Facebook</a>
              {% endif %}

              {% if post.author.profile.twitter_url %}
                <a href="{{post.author.profile.twitter_url}}">Twitter</a>
              {% endif %}

          </small></p>
          <p class="card-text"> {{post.author.profile.bio}}</p>
        </div>
      </div>
    </div>
  </div>

</ul>
{% if user.is_authenticated %}
    <form action="{% url 'blogpost_like' object.id %}" method="POST">
        {% csrf_token%}
        {% if post_is_liked %}
            <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-secondary">Unlike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ object.id}}" class="btn btn-secondary">Like</button>
        {% endif %}        

    </form>
{% else %}
    <a class="btn btn-outline-secondary" href="{% url 'login' %}">Login to like this article</a><br/>
{% endif %} 
<strong >{{number_of_likes}} Like{{ number_of_likes|pluralize }}</strong><br><br>
<hr>
<h1>Comments</h1>
{% if not post.comment_set.all %}
    No comments yet... <a href="{% url 'post_comment' post.pk %}">Add one</a>
{% else %}    
{% for comment in post.comment_set.all %}
  <strong>{{ comment.name  }} - {{ comment.created_on.date }}</strong> <br>
  {{ comment.body }} <br/>
{% endfor %}   
  <a href="{% url 'post_comment' post.pk %}">Add Comment</a>
   
{% endif %} <br><br>


{% endblock %}